body{
    width: 100%;
    margin: 0;
    background-color: rgb(243, 223, 199);
}

.teclado{
    width: 300px;
    height: 200px;
}
.cont-imagen{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.encabezado{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.barra{
    width: 100%;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(189, 255, 241);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.enlace-barra{
    margin-left:15px ;
    /* visual */
    color: rgb(141, 46, 46); 
    text-decoration: none;
    font-size: 23px;
}
.encabezado{
    padding-top: 30px;
    font-size: 60px;
}

.articulo{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
